[include]
  path = ~/.gitconfig.local
[alias]
	lg = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	logc = log --color --abbrev-commit
 	mulch = "!_() { git remote prune origin && git branch --merged | grep -v '^*' | xargs -n 1 git branch -d; }; _"
    checkout-history = "!_() { for i in {1..15}; do echo $i-$(git rev-parse --symbolic-full-name @{-$i}); done; }; _"
[push]
	default = simple
[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow
	frag = magenta
	old = red
	new = cyan
[color "status"]
	added = green
	changed = red
	untracked = cyan
[core]
       editor = vim
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
