[submodule "nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-swift"]
	path = .vim/bundle/vim-swift
	url = https://github.com/toyamarinyon/vim-swift.git
[submodule "gitwdiff"]
	path = gitwdiff
	url = git@github.com:suomela/gitwdiff.git
[submodule "close-buffers.vim"]
	path = .vim/bundle/close-buffers.vim
	url = git@github.com:Asheq/close-buffers.vim.git
